@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Oops.</h1>
        <h2>The content you are directed to does not exist.</h2>
    </hgroup>
</body>
</html>
